.main-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-body {
    flex: 1;
    display: flex;
    min-height: 0;
}

.main-content {
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.Toastify__toast--success {
    background-color: #2563eb !important;
}

.Toastify__toast--error {
    background-color: #ca3f3f !important;
}